<?php
/**
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Vuleticd
 * @package     Vuleticd_Ecosystem
 * @copyright   Copyright (c) 2013 Vuletic Dragan (http://www.vuleticd.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account"><?php echo $this->helper('ecosystem')->__('Pending jobs for this target')?></h4>
    </div>
    <div class="fieldset">
        <?php echo $this->getChildHtml('targets_edit_tab_queue_jobs_grid'); ?>
    </div>
</div>
<script type="text/javascript">
//<!--
targetsControl = {
    reload: function (urlParams) {
        if (!urlParams) {
            urlParams = '';
        }
        var url = targets_edit_tab_queue_jobs_gridJsObject.url + '?ajax=true' + urlParams;
        new Ajax.Updater(
            targets_edit_tab_queue_jobs_gridJsObject.containerId,
            url,
            {
                parameters: {form_key: FORM_KEY},
                onComplete: targets_edit_tab_queue_jobs_gridJsObject.initGrid.bind(targets_edit_tab_queue_jobs_gridJsObject),
                evalScripts:true
            }
        );
    },

    processItem: function (itemId) {
        this.reload('&process=' + itemId);
        return false;
    }
}
//-->
</script>